@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

math {
  text-align: left;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-text-heading;
    @apply font-bold;
  }

  h1 {
    @apply text-3xl;
    @apply leading-[1.2];
  }

  h2 {
    @apply text-[1.75rem];
    @apply leading-[1.2];
  }

  h3,
  h4,
  h5,
  h6 {
    @apply text-2xl;
    @apply leading-[1.2];
  }
}

.right-side-preview-area ol,
.right-side-preview-area ul,
.right-side-preview-area menu,
.right-side-preview-area svg:not(.octicon):not(.tabler-icon) {
  all: revert;
  /* reset Tailwind override to browser default */
}

.right-side-preview-area ul,
.right-side-preview-area ol {
  padding-left: 1.5em;
}

.right-side-preview-area table td,
.right-side-preview-area table th {
  padding: 8px;
  border: 1px solid rgba(136, 136, 136, 1);
}

.right-side-preview-area h1,
.right-side-preview-area h2,
.right-side-preview-area h3,
.right-side-preview-area h4,
.right-side-preview-area h5,
.right-side-preview-area h6 {
  line-height: 1.6;
}

.right-side-preview-area h4 {
  font-size: 1.25rem;
}

.right-side-preview-area h5 {
  font-size: 1.125rem;
}

.right-side-preview-area h6 {
  font-size: 1rem;
}

.right-side-preview-area.darkmode h1,
.right-side-preview-area.darkmode h2,
.right-side-preview-area.darkmode h3,
.right-side-preview-area.darkmode h4,
.right-side-preview-area.darkmode h5,
.right-side-preview-area.darkmode h6 {
  color: white;
}

.right-side-preview-area a:not([class]) {
  @apply inline-flex items-center gap-1 px-2 py-1 rounded text-primary underline hover:text-blue-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary;
}
